body{
	margin: 0px;
	border: 0px;
	background: url(lock.jpg);
}

#header{
	width: 98%;
	height: 20px;
	background: black;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 25px;
}

#main{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	font-style: italic;
}

a{
	color: yellow;
	text-decoration: none;
	padding: 20px;
	transition: all 1s;
	font-style: italic;
}

a:hover{
	background: skyblue;
	transform: scale(1.2);
}

h1{
	color: white;
	margin-right: 10px;
	font-size: 50px;
}

#images{
	margin-bottom: 30px;
}
.profile{
	margin-top: 20px;
	margin-left:420px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border:2px solid black;
	cursor: pointer;
	transition: 1s;
}
.profile:hover{
	transform: scale(1.1);
}
h4{
	color: yellow;
	font-size: 20px;
}
h3{
	color: red;
	font-size: 25px;
}
#info{
	font-style: italic;
	color: red;
	font-size: 50px;
	transition: all 1s;
}
#info:hover{
	transform: scale(1.3);
	color: yellow;
}
#image{
	height: 190px;
	width: 190px;
	transition: all 1s;
}
#image:hover{
	transform: scale(1.1);
}
#image1{
	height: 70px;
	width: 70px;
	border-radius: 40px;
	transition: all 1s;
}
#image1:hover{
	transform: scale(1.2);
}
h2{
	font-style: bold: italic;
	font-size: 30px;
	color: yellow;
	transition: all 1s;
}
h2:hover{
	transform: scale(1.3);
	color: red;
	background: skyblue;
}
